.wrap {
  min-height: 80vh;
  padding-bottom: 60px;
}

.title {
  font-size: 26px;
  text-align: center;
  margin-bottom: 30px;
  color: #171718;
}

.title:after {
  content: '';
  display: block;
  width: 60%;
  border-bottom: 1px solid #f3f3f3;
  margin: 10px auto 0;
}
